<!DOCTYPE html>
<html lang="en">
    <head>
        <title>project name</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <% if(__PRODUCTION__) { %>
        <link href="css/style.css" media="all" rel="stylesheet">
        <% } %>
    </head>
    <body>
        <% if(__PRODUCTION__){ %>
        <script src="js/app.min.js"></script>
        <% } else{ %>
        <script src="js/app.js"></script>
        <% } %>
    </body>
</html>
